.label {
    -fx-background-color: #ffffff;
    -fx-border-color: #4a4a4a;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #202020;
}
